<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 根据配置的url动态生成链接地址 然后之前匹配 括起来几个正则 就要传递几个参数 用''引起来 相应的 视图中也根据括号添加参数 -->
<a href="{% url 'booktest:show' '123' %}">显示</a>
<hr>
奇数行显示红色 偶数行显示蓝色
<hr>
<ul>
{% for hero in list %}
    {# 判断是否能整除2 #}
    {% if forloop.counter|divisibleby:"2" %}
<li style="color:red">{{ forloop.counter }}:{{ hero.hname }}</li>
    {% else %}
    <li style="color:blue">{{ forloop.counter }}:{{ hero.hname }}</li>
    {% endif %}
{% endfor %}
</ul>
</body>
</html>